*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}
/* login form  */
#mainDivLogin{
   width: 100vw;
   height: 100vh;
   display: flex;
   background-image: url('./mainBackground.png');
   background-size: cover;
   background-repeat: no-repeat;
   align-items: center;
   justify-content: center;
}
#forColorBlur{
    background-color: rgba(255, 255, 255, 0.352);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loginBoxDiv{
    width: 60%;
    height: 75%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: rgb(236, 233, 233);
    box-shadow: 5px 9px 23px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 5px 9px 23px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 9px 23px 1px rgba(0,0,0,0.75);
}
#imageNearFormDiv{
   width: 45%;
   height: 100%;
   
}
#loginPageImage{
    width: 100%;
    height: 100%;
    
}
#svgLineDiv{
    width: 8%;
    height: 100%;
    
}
#form{
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.classForComponentInputDiv{
   width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.inputClasses{
    width: 0;
    height: 70%;
    border-radius: 10px;
    padding-left: 0;
    border: none;
    outline: none;
    background-color: white;
    transform-origin: center;
}
.errors{
    margin:0;
    padding:0;
    color:rgb(208, 47, 47);
    position:absolute;
    top:84%;
    left: 6%;
}
#loginButton{
    width: 50%;
    height: 9%;
    border-radius: 10px;
    position: relative;
    border: none;
    outline: none;
    background-color: rgb(112, 112, 224);
    color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#LogoMainPageLogin{
    width: 70px;
    height: 60px;
    background-color: white;
}
#whisperImage{
    width: 100%;
    height: 100%;
    background-color:rgb(236, 233, 233);
}
#movingAnimationInsideButton{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgba(112, 112, 224, 0.237);
    color: white;
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
#movingcircleAnimation{
    width: 20%;
    height: 70%;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    display: none;
}
.infoDiv{
    color:blue;
}
.infoDiv:hover{
    color: rgb(247, 108, 108);
}
.googleDiv{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
@media (max-width: 600px) {
    #mainDivLogin{
        width: 100vw;
        height: 92.5vh;
    }
    #imageNearFormDiv{
        display: none;
    }
    #svgLineDiv{
        display: none;
    }
    #form{
        width: 100%;
        height: 100%;
        background-color: rgb(236, 233, 233);
    }
    #LogoMainPageLogin{
        display: block;
        color:red;
        font-size: 20px;
    }
    #loginBoxDiv{
        width: 80%;
        height: 60%;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 5px 8px 29px 4px rgba(0,0,0,0.75);
-webkit-box-shadow: 5px 8px 29px 4px rgba(0, 0, 0, 0.577);
-moz-box-shadow: 5px 8px 29px 4px rgba(0,0,0,0.75);
    }
    #mainDivLogin{
        background-color: #F7F5F3;
    }
}
/* otp verification Page */
#verificationMainPage{
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(183, 175, 175, 0.772);
    align-items: center;
    justify-content: center;
}
#verificationBoxDiv{
    background-color: rgb(255, 255, 255);
    width: 20%;
    height:30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    justify-content: center;
}
.otpDivInput{
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.otpInput{
    width: 90%;
    height: 80%;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px;
    background-color: rgb(217, 216, 216);
}
.otpInput:focus{
    -webkit-box-shadow: 3px 1px 11px -1px #444444; 
box-shadow: 3px 1px 11px -1px #444444;
}
#verifyButtonOtp{
     width: 20%;
    height: 15%;
    border-radius: 5px;
    position: relative;
    border: none;
    outline: none;
    background-color: rgb(112, 112, 224);
    color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 600px) {
    #verificationBoxDiv{
        width: 80%;
        box-shadow: 5px 9px 23px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 5px 9px 23px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 9px 23px 1px rgba(0,0,0,0.75);
    }
}
/* chatting page Info */
#allChatsMainDiv{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
/* top nav bar css */
#topNavbarDiv{
    width: 100%;
    height: 10%;
    background-color: rgb(200, 199, 199);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#imageLogoTopNavbarDiv{
    width: 80px;
    height: 80px;
    margin-left: 10px;
}
#imageOfNameDiv{
    width: 50px;
    height: 50px;
    background-color: white;
    color: rgb(42, 42, 42);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
    font-size: larger;
}

@media (max-width:600px) {
    #topNavbarDiv{
        display: none;
    }
    #allChatsMainDiv{
        width: 100%;
        height: 100%;
    }
}
/* parent container of all chatting info */
#chattingInfoParentDiv{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    position: relative;
}
.inBoxDiv{
    background-color: white;
    box-shadow: 0px 2px 12px -1px rgba(0,0,0,0.75);
    outline-style: solid;
    outline-width: 0.1px;
    outline-color: rgb(137, 136, 136);
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 2%;
    left: 2%;
    cursor: pointer;
}
.notificationIcon{
    background-color: rgb(255, 28, 28);
    position: absolute;
    right:7%;
    top:7%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
/* chats users plus search for usersAdded Div info */
#chatsContentDiv{
    width: 30%;
    height: 100%;
    background-color: #ECE9E9;
}
#addPlusSearch{
    width: 100%;
    height: 10%;
    display: flex;
    align-items:center ;
    justify-content: space-evenly;
    position: relative;
}
#searchingChats{
    background-color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 70%;
    height: 60% ;
    padding-left: 40px;
    cursor: pointer;
    font-size: 18px;
}
#addPeopleButton{
    width: 2.5vw;
    height:5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    outline-style: solid;
    outline-width: 1px;
    cursor: pointer;
    outline-color: rgb(178, 176, 176);
    background-color: white;
}
#searchButton{
    position: absolute;
    left: 25%;
    font-size: 20px;
    color: rgb(146, 143, 143);

}
.separationLine{
    background-color: rgb(127, 126, 126);
    width: 90%;
    height: 0.1px;
}
.separationLineAndFriends{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}
#allCurrFriendsDiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow: scroll;
}
#allCurrFriendsDiv::-webkit-scrollbar{
    display: none;
}
.eachSingleFriends{
    cursor: pointer;
    width: 416px;
    height: 60px;
    border-radius: 6px;
    background-color: rgb(241, 240, 240);
    box-shadow: 6px 3px 20px -10px rgba(0,0,0,0.75);
   position: relative;
   flex-shrink: 0;
}
.imageNameFirstLetterEach{
    width: 40px;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
@media (max-width:600px){
    #chatsContentDiv{
        width: 100%;
        height: 100%;
    }
    .eachSingleFriends{
        width: 90%;
    }
    #addPeopleButton{
        width: 40px;
        height: 40px;
    }
    #chatsContentDiv{
        width: 100vw;
        height: 92vh;
    }
}
/* real chatting with user div info */
.chattingDiv{
    display: block;
    width: 70%;
    height: 100%;
    background-color: #fffefe;
    position: relative;
}
.topChattingCurrHappening{
    width: 100%;
    height: 10%;
    position: relative;
    border-bottom: 1px solid black;
}
.arrow{
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30%;
    left:2%;
    font-size: 25px;
    color: #444444;
    cursor: pointer;
}
.specificFriendsTalkingToFirstLetterImage{
   border-style: solid;
   border-color: black;
   border-width: 1px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 22%;
    left: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.specificFriendsTalkingTo{
    position: absolute;
    top: 35%;
    left: 15%;
}
.currChattingShowingDivMain{
    width: 100%;
    height: 90%;
}
.typingDiv{
    position: fixed;
    bottom:2%;
    width: 70%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.typingInput{
    width: 70%;
    height: 100%;
    border-radius: 15px;
    border-width: 1px;
    outline:none;
    padding-left: 3%;   
    background-color: white;
    font-size: 17px;
}
.sendIcon{
    position: fixed;
    bottom: 4%;
    z-index: 100;
    left: 87%;
    font-size: 20px;
    cursor: pointer;
}
.allChatsInDiv{
    width: 100%;
    padding-top: 10px;
    height: 86%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
    gap: 10px;    
}
.allChatsInDiv::-webkit-scrollbar{
    display: none;
}
.eachTextDiv{
    width: 80%;
    display: flex;
    justify-content: end;
}
.mineIndicator{
    width: 0px;
    height: 0px;
    border-bottom: 10px solid transparent;
    border-top: 10px solid #ECE9E9;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    right: -9px;

}
.mineText{
    max-width: 50%;
    background-color: #ECE9E9;
    position: relative;
    border-radius: 10px;
}
.othersIndicator{
    width: 0px;
    height: 0px;
    border-bottom: 10px solid transparent;
    border-top: 10px solid #ECE9E9;
    border-right: 10px solid #ECE9E9;
    border-left: 10px solid transparent;
    position: absolute;
    left: -9px;
}
.contentForZIndex{
    z-index: 700;
    width: 100%;
    padding: 10px;

}
@media (max-width:600px){
    .chattingDiv{
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top:0;
        z-index: 10023;
    }
}
/* popUp Inbox */
#containerPopUpOFInbox{
    background-color: rgba(72, 72, 72, 0.398);
    backdrop-filter: blur(10px);
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1001;
    display: none;
    align-items: center;
    justify-content: center; 
}
.pendingRequests{
    background-color: white;
    border-radius: 10px;
    width: 27%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.requestsDiv{
    width: 100%;
    height: 10%;
    border-bottom: 1px solid black;
    display: flex;    
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.eachRequestDiv{
    width: 95%;
    border-radius: 10px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-width:1px;
    flex-shrink: 0;
}
.imageDivRequest{
    width: 30px;
    background-color: rgb(214, 247, 82);
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1px solid black;
}
.tick{
    color: rgb(3, 225, 3);
    font-size: 23px;
}
.cross{
    color:rgb(255, 43, 43);
    font-size:23px ;
}
.reusablesReqDivs{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow: scroll;
}
.reusablesReqDivs::-webkit-scrollbar{
    display: none;
}
@media (max-width:600px){
    #containerPopUpOFInbox{
        width: 100vw;
        height: 92.5vh;
    }
    .pendingRequests{
        width: 80%;
    }
}
/* for  adding  new friends */
#containerPopUpOfNewFriends{
    background-color: rgba(72, 72, 72, 0.398);
    backdrop-filter: blur(10px);
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}
.addRequestBoxDiv{
    background-color: white;
    border-radius: 10px;
    width: 27%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.addNameNameDiv{
     width: 100%;
    height: 10%;
    display: flex;    
    align-items: center;
    justify-content: center;
    font-size: 20px;

}
.searchNewFriends{
    width: 80%;
    height: 6%;
}
.inputSearchForNewFriends{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    padding:10px
}
.blackLineAfterSearchBox{
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 10px;
}
.newFriendsActualDiv{
    width: 100%;
    height: 84%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow: scroll;
}
.newFriendsActualDiv::-webkit-scrollbar{
    display: none;
}
.eachUsersOfAll{
    width: 80%;
    height: 13%;
    border-radius: 10px;
    border:1px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;
}
.addFriendsImageAndNameDiv{
    width:40%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    font-size:18px;
}
.imageNameOfaddFriendsDiv{
     background-color: rgb(214, 247, 82);
     font-size:20px;
     width:31px;
     height:31px;
     display:flex;
     align-items:center;
     justify-content:center;
     border-radius:50%;
     border:0.1px solid black;
}
.newFriendsAddAddButton{
    width:30%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:end;
    font-size:25px;
}
.aligningNameInAllUsers{
    width: 50%;
}
@media (max-width:600px){
    #containerPopUpOfNewFriends{
        width: 100vw;
        height: 92.5vh;
    }
    .addRequestBoxDiv{
        width: 80%;
    }
}
